body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

.search-box {
    margin-bottom: 20px;
}

#keyword {
    width: 300px;
    padding: 10px;
}

#searchBtn {
    padding: 10px 16px;
    cursor: pointer;
}

.music-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;
}

.music-card h3 {
    margin-top: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.modal-content {
    background-color: white;
    width: 600px;
    max-height: 80vh;
    overflow-y: auto;

    padding: 20px;
    border-radius: 12px;
}

#modalCloseBtn {
    float: right;
    cursor: pointer;
}

.similar-artist-card {
    cursor: pointer;
}

.similar-artist-card:hover {
    background-color: #f1f1f1;
}

.track-card {
    cursor: pointer;
}

.track-card:hover {
    background-color: #f1f1f1;
}

.credit-card {
    cursor: pointer;
}

.credit-card:hover {
    background-color: #f1f1f1;
}